name: Build and deploy Node.js app to Azure Web App - BudgetTracker

on:
  push:
    branches:
      - backend-only
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install and build
        run: |
          npm install
          npm run build --if-present
        working-directory: backend  # <-- run commands inside backend folder

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: backend  # <-- upload backend folder only

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_C9BFDAE1E05C459CA17CF95BB2745C3F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9672903D1259400BBB6A67D167CEEFCB }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A79BF600F3304B5D82EA11FC7E61AFBA }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'BudgetTracker'
          slot-name: 'Production'
          package: backend  # <-- deploy the backend folder

